@charset "UTF-8";
@font-face {
    font-family: 'donk';
    src: url(/Donsky.ttf);
}

/* Global */
* {
   padding: 0px;
   margin: 0px;
}

/* Menu */
nav {
    background-color: #0a0416;
    box-shadow: 3px 3px 5px black;
    font-family: 'donk';



}

nav a {
    text-decoration: none;
    color: white;
    margin: 0px -280px 0px 300px;
    }

nav#menu li {
    display: inline-block;
    
    font-size: 30px;
    margin: 50px 10px;
    color: white;
    
}

nav#menu a:hover{
    background-color: white;
}


/* main, body */

body {
    background-color: rgb(255, 255, 255);
    
}

main h1{
    font-family: 'donk';
    font-weight: lighter;
    font-size: 70px;
    margin: 190px 100px;
   
}

main p{
    font-family: 'donk';
    font-size: 23px;
    margin: 215px 100px;
    color: rgba(128, 128, 128, 0.644);
}

p#eu2{
    margin-top: -200px;
}

h1#cornome{
    color: hsla(271, 78%, 65%, 0.847);
    padding: 10px;
    margin: -230px 90px;
}

main img {
   width: 300px; 
   border-radius: 300px 300px 300px 300px;
   margin: -520px 1400px;
   position: absolute;
   box-shadow: 7px 7px 10px #06020e;
   
}

main img:hover{
    transition: 0.2s;
    transform:scale(1.2);
    
}





/* Botão */

div#butao1{
    padding: 15px;
    background-color: hsla(271, 78%, 65%, 0.847);
    width: 120px;
    text-align: center;
    margin: -170px 100px;
    border-radius: 30px;
    font-family: 'donk';
    box-shadow: 2px 3px 3px hsla(271, 98%, 50%, 0.842);
 

}

div#butao2 {
    padding: 15px;
    background-color: white;
    width: 120px;
    text-align: center;
    margin:  120px 270px;
    border-radius: 30px;
    font-family: 'donk';
    box-shadow: 3px 3px 2px inset hsla(271, 78%, 65%, 0.847);
    color: hsla(271, 78%, 65%, 0.847);
}

div#butao1:hover{
    background-color: white;
    color:  hsla(271, 78%, 65%, 0.847);
    transform:scale(0.95);
    transition: 0.4s;
    box-shadow: 3px 3px 2px inset hsla(271, 78%, 65%, 0.847);
}

div#butao2:hover{
    background-color: hsla(271, 78%, 65%, 0.847);
    transform:scale(0.95);
    color:  hsla(0, 0%, 0%, 0.842);
    transition: 0.4s;
    box-shadow: 2px 3px 3px hsla(271, 98%, 50%, 0.842);
}

div#butao3 {
    padding: 15px;
    background-color: hsla(271, 78%, 65%, 0.847);
    width: 120px;
    text-align: center;
    position: absolute;
    margin: -1050px 1450px;
    border-radius: 30px;
    font-family: 'donk';
    box-shadow: 2px 3px 3px hsla(271, 98%, 50%, 0.842);

}

div#butao3:hover {
    background-color: white;
    color:  hsla(271, 78%, 65%, 0.847);
    transform:scale(0.95);
    transition: 0.4s;
    box-shadow: 3px 3px 2px inset hsla(271, 78%, 65%, 0.847);

}

h1#eu{
    text-align: center;
    margin-top: -100px;
}


p#eu {
    margin-top: -190px;
    text-align: center;
}

div h1 {
    font-family: 'donk';
    text-align: center;
    font-size: 70px;
}

div img {
    width: 900px; 
    
}

div#html {
    position: absolute;
    margin: -80px 260px;
}

div#css {
    position: absolute;
    margin: -80px 500px;
}

div#js {
    position: absolute;
    margin: -80px 740px;
}


/* Rodape */

footer {
    background-color: #0a0416;
    padding: 30px;
    font-family: 'donk';
}

footer#rodape li {
    display: inline;
    margin: 0px -800px 0px 850px;
    padding: 10px;
    
   
}


footer h1 {
    margin-left: 300px;
    font-size: 15px;
    color: white;
}

