@charset "UTF-8";
@font-face {
    font-family: 'donk';
    src: url(/Donsky.ttf);
}

/* Medias Querys Celulares*/

@media(max-width: 450px) {

}



/* Global */
* {
   padding: 0px;
   margin: 0px;
}

/* Menu */
nav {
    background-color: #0a0416;
    box-shadow: 3px 3px 5px black;
    font-family: 'donk';
    

}

nav a {
    text-decoration: none;
    color: white;
    position: absolute;
    margin-top: -20px;
    margin-left: 280px;
    }


nav#menu li {
    display: inline-block;
    font-size: 30px;
    padding: 60px;
    margin: 10px 10px;
    color: white;
    
}

nav#menu a:hover{
    color: rgb(177, 176, 176);
    transform:scale(1.2);
    transition: 0.3s;

}


/* main, body */

body {
    background-color: rgb(255, 255, 255);
    position: relative;
}

main h1{
    font-family: 'donk';
    font-weight: lighter;
    font-size: 70px;
    margin: 190px 100px;
   
}

main p{
    font-family: 'donk';
    font-size: 23px;
    margin: 215px 100px;
    color: rgba(128, 128, 128, 0.644);
}

p#eu2{
    margin-top: -200px;
}

h1#cornome{
    color: #a860ebd8;
    padding: 10px;
    margin: -230px 90px;
}

main img {
   width: 300px; 
   border-radius: 300px 300px 300px 300px;
   margin: -520px 1400px;
   position: absolute;
   box-shadow: 7px 7px 10px #06020e;
   
}

main img:hover{
    transition: 0.2s;
    transform:scale(1.2);
    
}

img#sldskil{
    background-color: #06020e;
    width: 180px;
    margin: 30px 600px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px hsla(240, 1%, 31%, 0.842);
    border: 3px solid white;
    position: relative;
}

img#sldskil:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 30px hsla(271, 98%, 50%, 0.842);
  background-color: #1c132e;
  transition: 0.2s;
}

img#sldskil1{
    background-color: #06020e;
    width: 180px;
    margin-top:  30px;
    margin-left: -540px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px hsla(240, 1%, 31%, 0.842);
    border: 3px solid white;
    position: absolute;
}

img#sldskil1:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 30px hsla(271, 98%, 50%, 0.842);
    background-color: #1c132e;
    transition: 0.2s;
  }

  img#sldskil2{
    background-color: #06020e;
    width: 180px;
    margin-top:  30px;
    margin-left: -280px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px hsla(240, 1%, 31%, 0.842);
    border: 3px solid white;
    position: absolute;
}

img#sldskil2:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 30px hsla(271, 98%, 50%, 0.842);
    background-color: #1c132e;
    transition: 0.2s;
  }

  img#sldskil3{
    background-color: #06020e;
    width: 180px;
    margin: 30px 730px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px hsla(240, 1%, 31%, 0.842);
    border: 3px solid white;
    position: relative;
}

img#sldskil3:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 30px hsla(271, 98%, 50%, 0.842);
    background-color: #1c132e;
    transition: 0.2s;
  }

  img#sldskil4{
    background-color: #06020e;
    width: 180px;
    margin-top:  30px;
    margin-left: -670px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px hsla(240, 1%, 31%, 0.842);
    border: 3px solid white;
    position: absolute;
}

img#sldskil4:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 30px hsla(271, 98%, 50%, 0.842);
    background-color: #1c132e;
    transition: 0.2s;
  }




/* Botão */

div#butao1{
    padding: 15px;
    background-color: hsla(271, 78%, 65%, 0.847);
    width: 120px;
    text-align: center;
    margin: -170px 100px;
    border-radius: 30px;
    font-family: 'donk';
    box-shadow: 2px 3px 3px rgba(132, 3, 252, 0.842);
 

}

div#butao2 {
    padding: 15px;
    background-color: white;
    width: 120px;
    text-align: center;
    margin:  120px 270px;
    border-radius: 30px;
    font-family: 'donk';
    box-shadow: 3px 3px 2px inset hsla(271, 78%, 65%, 0.847);
    color: hsla(271, 78%, 65%, 0.847);
}

div#butao1:hover{
    background-color: white;
    color:  hsla(271, 78%, 65%, 0.847);
    transform:scale(0.95);
    transition: 0.4s;
    box-shadow: 3px 3px 2px inset hsla(271, 78%, 65%, 0.847);
}

div#butao2:hover{
    background-color: hsla(271, 78%, 65%, 0.847);
    transform:scale(0.95);
    color:  hsla(0, 0%, 0%, 0.842);
    transition: 0.4s;
    box-shadow: 2px 3px 3px hsla(271, 98%, 50%, 0.842);
}

h1#eu{
    text-align: center;
    margin-top: -70px;
    padding-bottom: 10px;
}


p#eu {
    margin-top: -190px;
    text-align: center;
}

h1#sk {
    position: absolute;
    width: 150px;
    margin: -120px 0px 0px 880px;
    font-family: 'donk';
}

h2#sskils{

    width: 300px;
    margin: 30px 0px 0px 892px;
    font-family: 'donk';
    color: rgba(128, 128, 128, 0.644);
}

h2#sskils1{

    width: 300px;
    margin: -10px 50px 0px 892px;
    font-family: 'donk';
    color: rgba(128, 128, 128, 0.644);
}





/* Imagens */

img#iconrd {
    width: 30px;
    background:  hsla(271, 78%, 65%, 0.847);
    position: absolute;
    border-radius: 20px;
    margin-top: -700px;
    margin-left: 30px;
    border: 1px solid rgb(134, 113, 113);
}

img#iconrd:hover {
background-color: #0066C8; 
transition: 0.2s;
transform:scale(1.2);


}


img#iconrd2 {
    width: 30px;
    background:  hsla(271, 78%, 65%, 0.847);
    position: absolute;
    border-radius: 20px;
    margin-top: -650px;
    margin-left: 30px;
    border: 1px solid rgb(134, 113, 113);
}

img#iconrd2:hover {
    background-color: white; 
    transition: 0.2s;
    transform:scale(1.2);

}

img#iconrd3 {
    width: 30px;
    background:  hsla(271, 78%, 65%, 0.847);
    position: absolute;
    border-radius: 20px;
    margin-top: -600px;
    margin-left: 30px;
    border: 1px solid rgb(134, 113, 113);
}

img#iconrd3:hover {
    background-color: white; 
    transition: 0.2s;
    transform:scale(1.2);

}

img#iconrd4 {
    width: 35px;
    position: absolute;
    border-radius: 50px;
    margin-top: -1090px;
    margin-left: 1800px;
    border: 2px solid rgb(253, 253, 253);
}

img#iconrd4:hover {
    background-color: white; 
    transition: 0.2s;
    transform:scale(1.2);

}

/* Rodape */

footer {
    background-color: #0a0416;
    padding: 50px;
    font-family: 'donk';
   
}

footer#rodape ul {
    margin: 0px -800px 0px 1050px;
    position: absolute;
    
   
}

footer#rodape li {
    display: inline;
  

}

footer h1 {
    margin-left: 300px;
    font-size: 15px;
    color: white;
    position: absolute;
}


footer#rodape a {
    color: white;
    text-decoration: none;
    padding: 20px;
   
}

footer#rodape a:hover{
    color: rgb(177, 176, 176);
    transition: 0.2s;
}
